@model IEnumerable<ECommerce_MVC.Areas.Admin.ViewModel.MenuViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Menus</h2>

<p>
    <a asp-area="Admin" asp-controller="Menu" asp-action="Create">Create New Menu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Menu", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "Details","Menu", new {  id=item.Id }) |
                @Html.ActionLink("Delete", "Delete","Menu", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
