@model IEnumerable<ECommerce_MVC.Areas.Admin.ViewModel.ProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Products</h2>


<form method="get"  asp-area="Admin" asp-controller="Product" asp-action="Index">
    <input id="searchTxt" name="search" />
    <button type="submit" id="searchBtn">Search</button>
</form>
<p>
    <a asp-area="Admin" asp-controller="Product" asp-action="Create">Create New Product</a>
</p>
<div id="tableContainer" >
    <table id="ProductsTable" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MainImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.BrandId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ColorId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Operation_SystemId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RAMId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProsessorId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HardDriveId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SSDId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StorageId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Style_JoinId)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MainImage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    @*  <td>
                            @Html.DisplayFor(modelItem => item.BrandId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ColorId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Operation_SystemId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RAMId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProsessorId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HardDriveId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SSDId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StorageId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Style_JoinId)
                        </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<script>
   
    $('#ProductsTable').DataTable();

     
</script>
@section Scripts{
    @*<script>
        $("#searchBtn").click(function () {
            var searchValue = $("#searchTxt").val();

            $.ajax({
                type: "GET",
                url: "/Admin/Product/Index",
                data: { search: searchValue },

            })
                .done(function (responce) {
                   // $("#tableContainer").html(responce);
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Faild");
                });
        });
    </script>*@
 }
